Repository MementoRC/mcp-git: changes, and which pre-commit hooks are due for each by the changed paths.
All: mcp-behavior-validation, notification-models-check, server-import-check, test-syntax-check

mcp-behavior-validation:
  name: MCP Behavior Validation
  entry: python scripts/validate_mcp_behavior.py --verbose
  language: python
  pass_filenames: false
  additional_dependencies: []

notification-models-check:
  name: Notification Models Check
  entry: python -c "from mcp_server_git.models.notifications import ClientNotification; print('✅ Notification models OK')"
  language: python
  pass_filenames: false

server-import-check:
  name: Server Import Check
  entry: python -c "import mcp_server_git.server; print('✅ Server imports OK')"
  language: python
  pass_filenames: false

test-syntax-check:
  name: Test Files Syntax Check
  entry: python -m py_compile
  language: python

fix: redirect logging output from stdout to stderr to prevent MCP protocol conflicts
  src/mcp_server_git/logging_config.py
Due: mcp-behavior-validation, server-import-check

fix: resolve race condition in concurrent heartbeat test
  tests/test_heartbeat.py
Due: mcp-behavior-validation, test-syntax-check

fix: resolve critical syntax errors in server.py match statement
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: resolve test failures by importing proper git operations
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: resolve CI test failure in environment loading test
  tests/test_environment_loading.py
Due: mcp-behavior-validation, test-syntax-check

fix: optimize CI pipeline for test timeout and performance
  .github/workflows/ci.yml
Due: none

fix: exclude stress tests from CI to prevent timeouts
  .github/workflows/ci.yml
Due: none

fix: add CI resilience for GitHub Actions infrastructure issues
  .github/workflows/ci.yml
Due: none

fix: resolve remaining CI test failures and improve environment handling
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: restore main function alias for test compatibility
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

feat: complete migration from uv to pixi package management
  .github/workflows/ci.yml
  pixi.lock
  pyproject.toml
  src/mcp_server_git/server.py
  uv.lock
Due: mcp-behavior-validation, server-import-check

feat: configure MCP server to run with pixi package management
  MCP_SERVER_CONFIG.md
  pixi.lock
  pyproject.toml
Due: none

fix: update pixi.lock file to resolve CI failures
  pixi.lock
Due: none

fix: use dev environment for all CI jobs with test dependencies
  .github/workflows/ci.yml
Due: none

fix: apply automatic code formatting with ruff
  .aider/chat_history.md
  src/mcp_server_git/server.py
  tests/benchmarks/test_performance.py
  tests/stress/test_concurrent.py
  tests/stress/test_error_injection.py
  tests/stress/test_long_running.py
  tests/stress/test_memory_leaks.py
  tests/test_e2e_server.py
  tests/test_mcp_verification_e2e.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: resolve CI test failure and Windows Unicode issues
  .github/workflows/nightly.yml
  tests/test_server.py
Due: mcp-behavior-validation, test-syntax-check

fix: resolve server failure by adding missing git function imports
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: resolve CI failures with comprehensive git function fixes
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/server.py
  tests/test_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: resolve E402 module-level import violation
  data/sessions.json
  src/mcp_server_git/core/__pycache__/__init__.cpython-312.pyc
  src/mcp_server_git/core/__pycache__/handlers.cpython-312.pyc
  src/mcp_server_git/core/__pycache__/tools.cpython-312.pyc
  src/mcp_server_git/git/__pycache__/__init__.cpython-312.pyc
  src/mcp_server_git/git/__pycache__/models.cpython-312.pyc
  src/mcp_server_git/git/__pycache__/operations.cpython-312.pyc
  src/mcp_server_git/git/__pycache__/security.cpython-312.pyc
  src/mcp_server_git/models/__pycache__/__init__.cpython-312.pyc
  src/mcp_server_git/models/__pycache__/middleware.cpython-312.pyc
  src/mcp_server_git/models/__pycache__/notifications.cpython-312.pyc
  src/mcp_server_git/models/__pycache__/validation.cpython-312.pyc
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, notification-models-check, server-import-check

fix: apply automatic code formatting fixes
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: add test_mode parameter support to MCP server
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: improve MCP server test mode to stay alive for CI detection
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: apply formatting fix for import asyncio placement
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

test: add test file for MCP git server validation
  test_mcp_git.txt
Due: none

feat: add comprehensive git remote operations and fix log formatting
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

test: comprehensive MCP git server test commit
  src/mcp_server_git/__init__.py
  src/mcp_server_git/logging_config.py
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

chore: remove temporary MCP git server test file
  test_mcp_git.txt
Due: none

fix: resolve F541 ruff error - remove unnecessary f-string
  src/mcp_server_git/git/operations.py
Due: mcp-behavior-validation, server-import-check

fix: apply ruff code formatting fixes
  src/mcp_server_git/__init__.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/logging_config.py
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

chore: remove development cache files and temporary data
  .aider/chat_history.md
  MCP_SERVER_CONFIG.md
  data/sessions.json
  src/mcp_server_git/core/__pycache__/__init__.cpython-310.pyc
  src/mcp_server_git/core/__pycache__/__init__.cpython-312.pyc
  src/mcp_server_git/core/__pycache__/handlers.cpython-310.pyc
  src/mcp_server_git/core/__pycache__/handlers.cpython-312.pyc
  src/mcp_server_git/core/__pycache__/tools.cpython-310.pyc
  src/mcp_server_git/core/__pycache__/tools.cpython-312.pyc
  src/mcp_server_git/git/__pycache__/__init__.cpython-312.pyc
  src/mcp_server_git/git/__pycache__/models.cpython-312.pyc
  src/mcp_server_git/git/__pycache__/operations.cpython-312.pyc
  src/mcp_server_git/git/__pycache__/security.cpython-312.pyc
  src/mcp_server_git/models/__pycache__/__init__.cpython-310.pyc
  src/mcp_server_git/models/__pycache__/__init__.cpython-312.pyc
  src/mcp_server_git/models/__pycache__/extended_types.cpython-310.pyc
  src/mcp_server_git/models/__pycache__/extended_types.cpython-312.pyc
  src/mcp_server_git/models/__pycache__/middleware.cpython-310.pyc
  src/mcp_server_git/models/__pycache__/middleware.cpython-312.pyc
  src/mcp_server_git/models/__pycache__/notifications.cpython-310.pyc
  src/mcp_server_git/models/__pycache__/notifications.cpython-312.pyc
  src/mcp_server_git/models/__pycache__/validation.cpython-310.pyc
  src/mcp_server_git/models/__pycache__/validation.cpython-312.pyc
Due: mcp-behavior-validation, notification-models-check, server-import-check

feat: expose git rebase tools and fix security handler imports
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: remove interactive options from git commands to prevent hanging
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/core/prompts.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/server.py
  src/mcp_server_git/server_modular.py
Due: mcp-behavior-validation, server-import-check

fix: resolve code formatting issues in prompts.py and server.py
  src/mcp_server_git/core/prompts.py
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

feat: fix GITHUB_TOKEN environment loading precedence
  src/mcp_server_git/github/client.py
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

feat: comprehensive code formatting and GitHub API improvements
  .github/workflows/ci.yml
  .gitignore
  .mcp-simple.json
  docs/API_REFERENCE.md
  docs/TROUBLESHOOTING.md
  docs/USAGE_GUIDE.md
  mcp-server-git-simple
  pixi.lock
  pyproject.toml
  scripts/example_prd.txt
  src/mcp_server_git/github/api.py
  tests/benchmarks/test_performance.py
  tests/stress/test_concurrent.py
  tests/stress/test_error_injection.py
  tests/stress/test_long_running.py
  tests/stress/test_memory_leaks.py
  tests/test_e2e_server.py
  tests/test_mcp_verification_e2e.py
  uv.lock
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: exclude uv.lock and data/ from git tracking
  .gitignore
Due: none

fix: resolve Python 3.10 f-string compatibility issue
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: resolve additional Python 3.10 f-string compatibility issues
  src/mcp_server_git/github/api.py
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: apply code formatting standards across codebase
  src/mcp_server_git/github/api.py
  src/mcp_server_git/server.py
  tests/benchmarks/test_performance.py
  tests/stress/test_concurrent.py
  tests/stress/test_error_injection.py
  tests/stress/test_long_running.py
  tests/stress/test_memory_leaks.py
  tests/test_e2e_server.py
  tests/test_mcp_verification_e2e.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

Path conditions:
  mcp-behavior-validation: any of: ^(src/mcp_server_git/|tests/)
  notification-models-check: any of: ^src/mcp_server_git/models/
  server-import-check: any of: ^src/mcp_server_git/
  test-syntax-check: any of: ^tests/.*\.py$
