Repository MementoRC/mcp-git: changes, and which pre-commit hooks are due for each by the changed paths.
All: mcp-behavior-validation, notification-models-check, server-import-check, test-syntax-check

mcp-behavior-validation:
  name: MCP Behavior Validation
  entry: python scripts/validate_mcp_behavior.py --verbose
  language: python
  pass_filenames: false
  additional_dependencies: []

notification-models-check:
  name: Notification Models Check
  entry: python -c "from mcp_server_git.models.notifications import ClientNotification; print('✅ Notification models OK')"
  language: python
  pass_filenames: false

server-import-check:
  name: Server Import Check
  entry: python -c "import mcp_server_git.server; print('✅ Server imports OK')"
  language: python
  pass_filenames: false

test-syntax-check:
  name: Test Files Syntax Check
  entry: python -m py_compile
  language: python

feat(rebase): add --onto and fork-point support (#159)
  src/mcp_server_git/git/operations.py
  tests/unit/git/test_rebase.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

docs(registry): update git_rebase description with --onto support (#159)
  src/mcp_server_git/lean/registry_git.py
Due: mcp-behavior-validation, server-import-check

feat(commit): add allow_empty flag for empty commits
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  tests/unit/git/test_git_commit.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(rebase): reject shell injection characters in ref parameters (#159)
  src/mcp_server_git/git/operations.py
  tests/unit/git/test_rebase.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add --onto and fork-point support to git_rebase (#159) (#160)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_commit.py
  tests/unit/git/test_git_rm.py
  tests/unit/git/test_rebase.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

chore: add atomic-design 500-line file size gate
  .pre-commit-config.yaml
  scripts/check_file_size.py
Due: none

refactor: decompose operations.py into 11 domain modules
  src/mcp_server_git/git/_branch_ops.py
  src/mcp_server_git/git/_commit_ops.py
  src/mcp_server_git/git/_config_ops.py
  src/mcp_server_git/git/_diff_ops.py
  src/mcp_server_git/git/_init_ops.py
  src/mcp_server_git/git/_rebase_ops.py
  src/mcp_server_git/git/_remote_ops.py
  src/mcp_server_git/git/_staging_ops.py
  src/mcp_server_git/git/_stash_ops.py
  src/mcp_server_git/git/_submodule_ops.py
  src/mcp_server_git/git/_tag_ops.py
  src/mcp_server_git/git/operations.py
  tests/unit/git/test_git_commit.py
  tests/unit/git/test_git_continue.py
  tests/unit/git/test_git_diff_validation.py
  tests/unit/git/test_git_operations.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: implement #161 force-with-lease and #162 create_branch HEAD switch
  src/mcp_server_git/git/models.py
  tests/unit/git/test_git_create_branch_checkout.py
  tests/unit/git/test_git_push_force_with_lease.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: implement #161 force-with-lease and #162 create_branch HEAD switch (#163)
  .pre-commit-config.yaml
  scripts/check_file_size.py
  src/mcp_server_git/git/_branch_ops.py
  src/mcp_server_git/git/_commit_ops.py
  src/mcp_server_git/git/_config_ops.py
  src/mcp_server_git/git/_diff_ops.py
  src/mcp_server_git/git/_init_ops.py
  src/mcp_server_git/git/_rebase_ops.py
  src/mcp_server_git/git/_remote_ops.py
  src/mcp_server_git/git/_staging_ops.py
  src/mcp_server_git/git/_stash_ops.py
  src/mcp_server_git/git/_submodule_ops.py
  src/mcp_server_git/git/_tag_ops.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  tests/unit/git/test_git_commit.py
  tests/unit/git/test_git_continue.py
  tests/unit/git/test_git_create_branch_checkout.py
  tests/unit/git/test_git_diff_validation.py
  tests/unit/git/test_git_operations.py
  tests/unit/git/test_git_push_force_with_lease.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(github): expand bot template placeholders in PR review/comment fetches
  src/mcp_server_git/github/client.py
  src/mcp_server_git/github/pr_actions.py
  src/mcp_server_git/lean/registry_github.py
  tests/unit/github/test_pr_actions.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(github): expand bot template placeholders in PR review/comment fetches (#164)
  src/mcp_server_git/github/client.py
  src/mcp_server_git/github/pr_actions.py
  src/mcp_server_git/lean/registry_github.py
  tests/unit/github/test_pr_actions.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(azure): make Azure DevOps tools work anonymously on public projects
  README.md
  src/mcp_server_git/azure/__init__.py
  src/mcp_server_git/azure/api.py
  src/mcp_server_git/azure/client.py
  src/mcp_server_git/azure/models.py
  src/mcp_server_git/lean/registry_azure.py
  tests/unit/azure/test_azure_api.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(tests): align azure client tests with anonymous-mode contract
  tests/unit/azure/test_azure_client.py
Due: mcp-behavior-validation, test-syntax-check

feat(azure): anonymous access to public Azure DevOps projects (#165)
  README.md
  src/mcp_server_git/azure/__init__.py
  src/mcp_server_git/azure/api.py
  src/mcp_server_git/azure/client.py
  src/mcp_server_git/azure/models.py
  src/mcp_server_git/lean/registry_azure.py
  tests/unit/azure/test_azure_api.py
  tests/unit/azure/test_azure_client.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(azure): retry GET without auth on 401 for public projects
  src/mcp_server_git/azure/client.py
  tests/unit/azure/test_azure_client.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(azure): retry GET without auth on 401 for public projects (#166)
  src/mcp_server_git/azure/client.py
  tests/unit/azure/test_azure_client.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(git): add git_worktree_add to lean interface (closes #167)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_worktree.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): preserve relative paths in git_submodule_add (closes #168)
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_submodule_relative_path.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(lean): implement relative_path_params on ToolDefinition (issue #168)
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/meta_tools.py
  tests/unit/git/test_submodule_relative_path.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

test(lean): update dotdot rejection assertion for new validation order
  tests/lean/test_interface.py
Due: mcp-behavior-validation, test-syntax-check

feat(git): add git_worktree_add to lean interface (#167) (#169)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/meta_tools.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_worktree.py
  tests/unit/git/test_submodule_relative_path.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

docs(lean): document relative_path_params and non-normalization note
  src/mcp_server_git/lean/interface.py
Due: mcp-behavior-validation, server-import-check

fix(lean): restrict path validation to string params with 'path' in name
  src/mcp_server_git/lean/interface.py
Due: mcp-behavior-validation, server-import-check

fix(git): preserve relative paths in git_submodule_add (#168) (#170)
  src/mcp_server_git/lean/interface.py
  tests/lean/test_interface.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(git,github): close branch-list/push-delete/default-branch gaps
  src/mcp_server_git/git/_branch_ops.py
  src/mcp_server_git/git/_remote_ops.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/github/repos.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_branch_list.py
  tests/unit/git/test_git_push_delete.py
  tests/unit/github/test_github_repo_settings.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(git): add sort to git_branch_list, dry_run to git_push
  src/mcp_server_git/git/_branch_ops.py
  src/mcp_server_git/git/_remote_ops.py
  src/mcp_server_git/git/models.py
  tests/unit/git/test_git_branch_list.py
  tests/unit/git/test_git_push_delete.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: close branch-list / push-delete / default-branch gaps (#171-#176) (#174)
  src/mcp_server_git/git/_branch_ops.py
  src/mcp_server_git/git/_remote_ops.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/github/repos.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_branch_list.py
  tests/unit/git/test_git_push_delete.py
  tests/unit/github/test_github_repo_settings.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(git): add git_clone tool to lean interface (#177)
  README.md
  src/mcp_server_git/git/_remote_ops.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_clone.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(git): add git_clone tool to lean interface (#177) (#179)
  README.md
  src/mcp_server_git/git/_remote_ops.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_clone.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(github): add required_signatures branch-protection tools (#178)
  README.md
  src/mcp_server_git/github/models.py
  src/mcp_server_git/github/security.py
  src/mcp_server_git/lean/registry_github.py
  tests/unit/github/test_github_required_signatures.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(github): add required_signatures branch-protection tools (#178) (#180)
  README.md
  src/mcp_server_git/github/models.py
  src/mcp_server_git/github/security.py
  src/mcp_server_git/lean/registry_github.py
  tests/unit/github/test_github_required_signatures.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(git): add discoverable git_branch_delete tool
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_branch_delete.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(lean): wire configured token limits into ResponseOffloader
  src/mcp_server_git/lean/interface.py
  tests/unit/lean/test_offloader_token_limit.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

ci: pin current claude-sonnet-4-6 model in claude-code-action workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

ci: pin current claude-sonnet-4-6 model in claude-code-action workflows (#183)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat(git): add git_branch_delete tool + fix(lean): wire configured token limits into ResponseOffloader (#182)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_branch_delete.py
  tests/unit/lean/test_offloader_token_limit.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(lean): lower offloader default limit below client output cap
  src/mcp_server_git/config/token_limits.py
  tests/unit/lean/test_offloader_token_limit.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(git): add git_reflog tool for HEAD/ref movement forensics (#181)
  README.md
  src/mcp_server_git/git/_commit_ops.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_reflog.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): drop operand from git_reflog action, keep parenthetical qualifier
  src/mcp_server_git/git/_commit_ops.py
Due: mcp-behavior-validation, server-import-check

fix(lean): address PR #184 review — tighten CONSERVATIVE profile, derive test cap
  src/mcp_server_git/config/token_limits.py
  tests/unit/lean/test_offloader_token_limit.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

Path conditions:
  mcp-behavior-validation: any of: ^(src/mcp_server_git/|tests/)
  notification-models-check: any of: ^src/mcp_server_git/models/
  server-import-check: any of: ^src/mcp_server_git/
  test-syntax-check: any of: ^tests/.*\.py$
