Repository MementoRC/mcp-git: changes, and which pre-commit hooks are due for each by the changed paths.
All: mcp-behavior-validation, notification-models-check, server-import-check, test-syntax-check

mcp-behavior-validation:
  name: MCP Behavior Validation
  entry: python scripts/validate_mcp_behavior.py --verbose
  language: python
  pass_filenames: false
  additional_dependencies: []

notification-models-check:
  name: Notification Models Check
  entry: python -c "from mcp_server_git.models.notifications import ClientNotification; print('✅ Notification models OK')"
  language: python
  pass_filenames: false

server-import-check:
  name: Server Import Check
  entry: python -c "import mcp_server_git.server; print('✅ Server imports OK')"
  language: python
  pass_filenames: false

test-syntax-check:
  name: Test Files Syntax Check
  entry: python -m py_compile
  language: python

fix: resolve all 43 typecheck errors and enforce strict CI validation
  .github/workflows/ci.yml
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/git/security.py
  src/mcp_server_git/server.py
  src/mcp_server_git/server_simple.py
Due: mcp-behavior-validation, server-import-check

ci: increase timeout for Code Quality job to handle GitHub infrastructure issues
  .github/workflows/ci.yml
Due: none

ci: make CI infrastructure-resilient for GitHub service outages
  .github/workflows/ci.yml
Due: none

style: auto-format code with ruff to fix formatting violations
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/server.py
  src/mcp_server_git/server_simple.py
Due: mcp-behavior-validation, server-import-check

feat: add git clean support for __pycache__ directories
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/core/tools.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  tests/test_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

test: verify GitHub infrastructure recovery after service outage
  .github/workflows/INFRASTRUCTURE_TEST.md
Due: none

fix: add missing git_clean and stash operations to server GitTools enum
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: complete git_clean and stash operations integration
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: resolve code formatting issues causing CI failure
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/core/tools.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/server.py
  tests/test_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

Add test file for deletion testing
  test_delete_me.txt
Due: none

Fix git workflow gaps from issue #39
  src/mcp_server_git/git/operations.py
Due: mcp-behavior-validation, server-import-check

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat: enable GPG signing for Claude GitHub Actions
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: none

feat: implement intelligent repository resolver to prevent cross-session contamination
  src/mcp_server_git/frameworks/server_core.py
  src/mcp_server_git/utils/repository_resolver.py
Due: mcp-behavior-validation, server-import-check

fix: remove unused os import from repository_resolver.py
  src/mcp_server_git/utils/repository_resolver.py
Due: mcp-behavior-validation, server-import-check

style: format code with ruff
  src/mcp_server_git/applications/server_application.py
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/frameworks/server_core.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/protected_git_operations.py
  src/mcp_server_git/repository_binding.py
  src/mcp_server_git/repository_binding_tools.py
  tests/fixtures/large_test_data.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

refactor: improve repository resolver with Git-standard worktree detection
  src/mcp_server_git/frameworks/server_core.py
  src/mcp_server_git/utils/repository_resolver.py
Due: mcp-behavior-validation, server-import-check

(fix) repo path
  src/mcp_server_git/applications/server_application.py
Due: mcp-behavior-validation, server-import-check

fix: critical MCP git server repository context bug
  .gitignore
  src/mcp_server_git/applications/server_application.py
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/core/tools.py
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
Due: mcp-behavior-validation, server-import-check

fix: resolve critical production bugs in GitHub API and error handling
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/github/api.py
Due: mcp-behavior-validation, server-import-check

feat: implement comprehensive error handling and testing improvements
  src/mcp_server_git/applications/__init__.py
  src/mcp_server_git/applications/server_application.py
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/core/tools.py
  src/mcp_server_git/frameworks/server_core.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/github/api.py
Due: mcp-behavior-validation, server-import-check

fix: use safe git import in protected_git_operations
  src/mcp_server_git/protected_git_operations.py
Due: mcp-behavior-validation, server-import-check

fix: add missing enhanced_error_handling module and related changes
  src/mcp_server_git/core/enhanced_error_handling.py
  src/mcp_server_git/repository_binding.py
  src/mcp_server_git/repository_binding_tools.py
  src/mcp_server_git/utils/repository_resolver.py
Due: mcp-behavior-validation, server-import-check

Add GitHub token to Claude code review action
  .github/workflows/claude-code-review.yml
Due: none

fix(azure): register Azure DevOps tools in MCP tool registry
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/core/tools.py
  tests/unit/core/__init__.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

(fix) Allow claude
  .github/workflows/claude-code-review.yml
Due: none

fix(azure): Register Azure DevOps tools in list_tools()
  src/mcp_server_git/applications/server_application.py
Due: mcp-behavior-validation, server-import-check

Update server module import in CI workflow
  .github/workflows/ci.yml
Due: none

chore: apply automated quality fixes
  pyproject.toml
  src/mcp_server_git/applications/server_application.py
  src/mcp_server_git/core/enhanced_error_handling.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/github/api.py
  src/mcp_server_git/lean/__init__.py
  src/mcp_server_git/lean/__main__.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/token_limiter.py
  src/mcp_server_git/lean/tool_registry.py
Due: mcp-behavior-validation, server-import-check

refactor: address code review feedback for lean MCP interface
  src/mcp_server_git/lean/__main__.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/null_azure_service.py
  src/mcp_server_git/lean/token_limiter.py
  tests/lean/__init__.py
  tests/lean/test_interface.py
  tests/lean/test_null_azure_service.py
  tests/lean/test_token_limiter.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

docs: enhance meta-tool descriptions for LLM comprehension
  src/mcp_server_git/lean/interface.py
Due: mcp-behavior-validation, server-import-check

docs: add guidance for filing issues when tools are missing
  src/mcp_server_git/lean/interface.py
Due: mcp-behavior-validation, server-import-check

docs: improve execute_tool Returns section with concrete examples
  src/mcp_server_git/lean/interface.py
Due: mcp-behavior-validation, server-import-check

docs: improve discover_tools Returns and USE WHEN sections
  src/mcp_server_git/lean/interface.py
Due: mcp-behavior-validation, server-import-check

docs: improve get_tool_spec USE WHEN and Returns sections
  src/mcp_server_git/lean/interface.py
Due: mcp-behavior-validation, server-import-check

Path conditions:
  mcp-behavior-validation: any of: ^(src/mcp_server_git/|tests/)
  notification-models-check: any of: ^src/mcp_server_git/models/
  server-import-check: any of: ^src/mcp_server_git/
  test-syntax-check: any of: ^tests/.*\.py$
