Repository MementoRC/mcp-git: changes, and which pre-commit hooks are due for each by the changed paths.
All: mcp-behavior-validation, notification-models-check, server-import-check, test-syntax-check

mcp-behavior-validation:
  name: MCP Behavior Validation
  entry: python scripts/validate_mcp_behavior.py --verbose
  language: python
  pass_filenames: false
  additional_dependencies: []

notification-models-check:
  name: Notification Models Check
  entry: python -c "from mcp_server_git.models.notifications import ClientNotification; print('✅ Notification models OK')"
  language: python
  pass_filenames: false

server-import-check:
  name: Server Import Check
  entry: python -c "import mcp_server_git.server; print('✅ Server imports OK')"
  language: python
  pass_filenames: false

test-syntax-check:
  name: Test Files Syntax Check
  entry: python -m py_compile
  language: python

fix: remove incompatible @server.initialize() decorator resolving MCP server startup
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

feat: implement Task 11 - Graceful Shutdown and Recovery
  src/mcp_server_git/server.py
  src/mcp_server_git/session.py
  tasks/tasks.json
Due: mcp-behavior-validation, server-import-check

fix: resolve CI quality check failures
  src/mcp_server_git/github/api.py
  src/mcp_server_git/models/validation.py
  src/mcp_server_git/server.py
  tests/test_e2e_server.py
  tests/test_error_handling.py
Due: mcp-behavior-validation, notification-models-check, server-import-check, test-syntax-check

fix: update error handling test to expect RuntimeError instead of SystemExit
  tests/test_error_handling.py
Due: mcp-behavior-validation, test-syntax-check

feat: implement Task 15 - Stress Testing and Validation
  tasks/task_015.txt
  tasks/tasks.json
  tests/stress/__init__.py
  tests/stress/__pycache__/__init__.cpython-310.pyc
  tests/stress/__pycache__/conftest.cpython-310-pytest-8.3.4.pyc
  tests/stress/__pycache__/test_concurrent.cpython-310-pytest-8.3.4.pyc
  tests/stress/__pycache__/test_error_injection.cpython-310-pytest-8.3.4.pyc
  tests/stress/__pycache__/test_long_running.cpython-310-pytest-8.3.4.pyc
  tests/stress/__pycache__/test_memory_leaks.cpython-310-pytest-8.3.4.pyc
  tests/stress/conftest.py
  tests/stress/test_concurrent.py
  tests/stress/test_error_injection.py
  tests/stress/test_long_running.py
  tests/stress/test_memory_leaks.py
Due: mcp-behavior-validation, test-syntax-check

fix: make stress tests CI-compatible to resolve timeout issues
  tests/stress/__pycache__/conftest.cpython-310-pytest-8.3.4.pyc
  tests/stress/__pycache__/test_concurrent.cpython-310-pytest-8.3.4.pyc
  tests/stress/__pycache__/test_error_injection.cpython-310-pytest-8.3.4.pyc
  tests/stress/__pycache__/test_long_running.cpython-310-pytest-8.3.4.pyc
  tests/stress/__pycache__/test_memory_leaks.cpython-310-pytest-8.3.4.pyc
  tests/stress/conftest.py
  tests/stress/test_concurrent.py
  tests/stress/test_error_injection.py
  tests/stress/test_long_running.py
  tests/stress/test_memory_leaks.py
Due: mcp-behavior-validation, test-syntax-check

fix: add psutil dependency for stress test memory monitoring
  pyproject.toml
  uv.lock
Due: none

fix: optimize stress tests to be ultra-minimal for CI compatibility
  tests/stress/__pycache__/conftest.cpython-310-pytest-8.3.4.pyc
  tests/stress/__pycache__/test_concurrent.cpython-310-pytest-8.3.4.pyc
  tests/stress/__pycache__/test_long_running.cpython-310-pytest-8.3.4.pyc
  tests/stress/conftest.py
  tests/stress/test_concurrent.py
  tests/stress/test_long_running.py
Due: mcp-behavior-validation, test-syntax-check

style: auto-format stress tests to fix CI code quality checks
  tests/stress/conftest.py
  tests/stress/test_concurrent.py
  tests/stress/test_long_running.py
Due: mcp-behavior-validation, test-syntax-check

feat: implement Task 13 - Performance Benchmarks and Optimization
  src/mcp_server_git/models/enhanced_validation.py
  src/mcp_server_git/optimizations.py
  tests/benchmarks/__pycache__/__init__.cpython-312.pyc
  tests/benchmarks/__pycache__/conftest.cpython-312-pytest-8.3.5.pyc
  tests/benchmarks/__pycache__/conftest.cpython-312.pyc
  tests/benchmarks/__pycache__/test_optimization_validation.cpython-312-pytest-8.3.5.pyc
  tests/benchmarks/__pycache__/test_performance.cpython-312-pytest-8.3.5.pyc
  tests/benchmarks/conftest.py
  tests/benchmarks/test_optimization_validation.py
  tests/benchmarks/test_performance.py
Due: mcp-behavior-validation, notification-models-check, server-import-check, test-syntax-check

fix: resolve CI formatting issues for performance benchmarks
  src/mcp_server_git/models/enhanced_validation.py
  src/mcp_server_git/optimizations.py
Due: mcp-behavior-validation, notification-models-check, server-import-check

fix: resolve CI type checking errors in performance optimizations
  src/mcp_server_git/models/enhanced_validation.py
  src/mcp_server_git/optimizations.py
Due: mcp-behavior-validation, notification-models-check, server-import-check

fix: resolve CI unused import violations (F401) for PR #2
  tests/benchmarks/conftest.py
  tests/benchmarks/test_optimization_validation.py
  tests/benchmarks/test_performance.py
Due: mcp-behavior-validation, test-syntax-check

feat: implement Task 14 - Create Technical Documentation
  docs/TECHNICAL_ARCHITECTURE.md
Due: none

feat: implement Task 13 - Performance Benchmarks and Optimization
  src/mcp_server_git/optimizations.py
  tests/benchmarks/test_performance.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: resolve CI formatting issues for performance benchmarks
  src/mcp_server_git/optimizations.py
  tests/benchmarks/test_performance.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: resolve CI formatting inconsistency for performance benchmarks
  tests/benchmarks/test_performance.py
Due: mcp-behavior-validation, test-syntax-check

fix: resolve ruff version conflict with CI-compatible configuration
  pyproject.toml
Due: none

fix: resolve E402 import ordering violation in benchmark conftest
  tests/benchmarks/conftest.py
Due: mcp-behavior-validation, test-syntax-check

fix: resolve critical code quality issues for CI
  src/mcp_server_git/git/operations.py
  tests/benchmarks/test_performance.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: implement Task 14 - Create Technical Documentation
  docs/API_REFERENCE.md
  docs/TROUBLESHOOTING.md
  docs/USAGE_GUIDE.md
  tasks/tasks.json
Due: none

feat: implement Task 1 - Create LLM-Optimized Hierarchical Project Structure
  src/mcp_server_git/applications/__init__.py
  src/mcp_server_git/configuration/__init__.py
  src/mcp_server_git/constants/__init__.py
  src/mcp_server_git/debugging/__init__.py
  src/mcp_server_git/frameworks/__init__.py
  src/mcp_server_git/operations/__init__.py
  src/mcp_server_git/primitives/__init__.py
  src/mcp_server_git/protocols/__init__.py
  src/mcp_server_git/services/__init__.py
  src/mcp_server_git/types/__init__.py
  tasks/tasks.json
Due: mcp-behavior-validation, server-import-check

chore: preserve TaskMaster setup during git server investigation
  taskmaster_backup/docs/prd.txt
Due: none

fix: resolve import errors in new module structure
  src/mcp_server_git/applications/__init__.py
  src/mcp_server_git/configuration/__init__.py
  src/mcp_server_git/constants/__init__.py
  src/mcp_server_git/debugging/__init__.py
  src/mcp_server_git/frameworks/__init__.py
  src/mcp_server_git/github/__pycache__/api.cpython-312.pyc
  src/mcp_server_git/models/__pycache__/validation.cpython-310.pyc
  src/mcp_server_git/models/__pycache__/validation.cpython-312.pyc
  src/mcp_server_git/operations/__init__.py
  src/mcp_server_git/primitives/__init__.py
  src/mcp_server_git/protocols/__init__.py
  src/mcp_server_git/services/__init__.py
  src/mcp_server_git/types/__init__.py
Due: mcp-behavior-validation, notification-models-check, server-import-check

fix: resolve GitHub API 401 errors with defensive environment variable loading
  src/mcp_server_git/github/client.py
Due: mcp-behavior-validation, server-import-check

fix: resolve MCP git server routing errors by correcting method name
  src/mcp_server_git/server_simple.py
Due: mcp-behavior-validation, server-import-check

feat: add E2E verification tests for MCP git server functionality
  .github/scripts/verify_mcp_e2e.py
  .github/workflows/ci.yml
  pyproject.toml
  tests/test_mcp_verification_e2e.py
Due: mcp-behavior-validation, test-syntax-check

fix: remove unused imports to pass linting checks
  .github/scripts/verify_mcp_e2e.py
  src/mcp_server_git/server_simple.py
  tests/test_mcp_verification_e2e.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: restructure E2E tests for proper pytest collection
  tests/__init__.py
  tests/test_mcp_verification_e2e.py
Due: mcp-behavior-validation, test-syntax-check

fix: resolve remaining linting violations in E2E tests
  tests/test_mcp_verification_e2e.py
Due: mcp-behavior-validation, test-syntax-check

fix: remove unused imports in test_simple_server.py
  test_simple_server.py
Due: none

fix: apply correct ruff formatting using uv run ruff format
  tests/benchmarks/test_performance.py
  tests/stress/test_concurrent.py
  tests/stress/test_error_injection.py
  tests/stress/test_long_running.py
  tests/stress/test_memory_leaks.py
  tests/test_e2e_server.py
  tests/test_mcp_verification_e2e.py
Due: mcp-behavior-validation, test-syntax-check

fix: correct E2E test implementation to verify routing fix
  tests/test_mcp_verification_e2e.py
Due: mcp-behavior-validation, test-syntax-check

fix: resolve critical CI failures with systematic code quality improvements
  mcp-server-git-simple
  src/mcp_server_git/applications/__init__.py
  src/mcp_server_git/configuration/__init__.py
  src/mcp_server_git/constants/__init__.py
  src/mcp_server_git/debugging/__init__.py
  src/mcp_server_git/frameworks/__init__.py
  src/mcp_server_git/operations/__init__.py
  src/mcp_server_git/primitives/__init__.py
  src/mcp_server_git/protocols/__init__.py
  src/mcp_server_git/services/__init__.py
  src/mcp_server_git/types/__init__.py
  tests/test_mcp_verification_e2e.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: add missing return statement to resolve pyright type error
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: apply ruff formatting to resolve CI formatting check
  src/mcp_server_git/server.py
  tests/test_mcp_verification_e2e.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: resolve CI failure by adding GITHUB_TOKEN to Performance & Load Testing job
  .github/workflows/ci.yml
  tests/test_mcp_verification_e2e.py
Due: mcp-behavior-validation, test-syntax-check

Path conditions:
  mcp-behavior-validation: any of: ^(src/mcp_server_git/|tests/)
  notification-models-check: any of: ^src/mcp_server_git/models/
  server-import-check: any of: ^src/mcp_server_git/
  test-syntax-check: any of: ^tests/.*\.py$
