Repository MementoRC/mcp-git: changes, and which pre-commit hooks are due for each by the changed paths.
All: mcp-behavior-validation, notification-models-check, server-import-check, test-syntax-check

mcp-behavior-validation:
  name: MCP Behavior Validation
  entry: python scripts/validate_mcp_behavior.py --verbose
  language: python
  pass_filenames: false
  additional_dependencies: []

notification-models-check:
  name: Notification Models Check
  entry: python -c "from mcp_server_git.models.notifications import ClientNotification; print('✅ Notification models OK')"
  language: python
  pass_filenames: false

server-import-check:
  name: Server Import Check
  entry: python -c "import mcp_server_git.server; print('✅ Server imports OK')"
  language: python
  pass_filenames: false

test-syntax-check:
  name: Test Files Syntax Check
  entry: python -m py_compile
  language: python

refactor: extract CI logs/await to github/ci_logs.py (#140)
  src/mcp_server_git/github/ci_logs.py
  src/mcp_server_git/github/workflows.py
  tests/unit/github/test_github_await_workflow.py
  tests/unit/github/test_github_job_logs.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

refactor: split token_limiter.py into focused modules (#140)
  src/mcp_server_git/lean/content_truncation.py
  src/mcp_server_git/lean/token_estimation.py
  src/mcp_server_git/lean/token_limiter.py
  src/mcp_server_git/lean/token_types.py
Due: mcp-behavior-validation, server-import-check

refactor: extract meta-tool definitions to lean/meta_tools.py (#140)
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/meta_tools.py
Due: mcp-behavior-validation, server-import-check

refactor: extract issue search/bulk to github/issue_search.py (#140)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/issue_search.py
  src/mcp_server_git/github/issues.py
Due: mcp-behavior-validation, server-import-check

refactor: extract release assets to github/release_assets.py (#140)
  src/mcp_server_git/github/release_assets.py
  src/mcp_server_git/github/releases.py
  tests/unit/github/test_github_releases.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

refactor: decompose lean and github domain modules (#140) (#144)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/ci_logs.py
  src/mcp_server_git/github/permissions.py
  src/mcp_server_git/github/repos.py
  src/mcp_server_git/github/workflows.py
  src/mcp_server_git/lean/registry_azure.py
  src/mcp_server_git/lean/registry_git.py
  src/mcp_server_git/lean/registry_github.py
  src/mcp_server_git/lean/tool_registry.py
  tests/unit/github/test_github_actions_config.py
  tests/unit/github/test_github_await_workflow.py
  tests/unit/github/test_github_branch_protection.py
  tests/unit/github/test_github_job_logs.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: auto-resurrect expired MCP sessions with default repo binding
  src/mcp_server_git/transport/http_server.py
  src/mcp_server_git/transport/http_session_manager.py
  tests/unit/transport/test_http_session_manager.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

refactor: decompose remaining lean and github modules (#140) (#145)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/issue_search.py
  src/mcp_server_git/github/issues.py
  src/mcp_server_git/github/release_assets.py
  src/mcp_server_git/github/releases.py
  src/mcp_server_git/lean/content_truncation.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/meta_tools.py
  src/mcp_server_git/lean/token_estimation.py
  src/mcp_server_git/lean/token_limiter.py
  src/mcp_server_git/lean/token_types.py
  tests/unit/github/test_github_releases.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

refactor: extract _resurrect_session method and add server uptime to logs
  src/mcp_server_git/transport/http_session_manager.py
  tests/lean/test_integration.py
  tests/unit/transport/test_http_session_manager.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(test): match actual log format in resurrection uptime test
  tests/unit/transport/test_http_session_manager.py
Due: mcp-behavior-validation, test-syntax-check

fix: auto-resurrect expired MCP sessions with default repo binding (#146)
  src/mcp_server_git/transport/http_server.py
  src/mcp_server_git/transport/http_session_manager.py
  tests/lean/test_integration.py
  tests/unit/transport/test_http_session_manager.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: update tests and imports after legacy framework removal
  src/mcp_server_git/lean/__main__.py
  tests/unit/git/test_git_init.py
  tests/unit/transport/test_http_session_manager.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: remove orphaned middlewares/ directory (depended on deleted frameworks)
  src/mcp_server_git/middlewares/__init__.py
  src/mcp_server_git/middlewares/token_limit.py
Due: mcp-behavior-validation, server-import-check

fix(ci): use lean server for MCP behavior validation
  .github/workflows/ci.yml
Due: none

fix: remove orphaned examples/token_limit_example.py
  examples/token_limit_example.py
Due: none

fix(ci): update workflow validation to use lean server imports
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
Due: none

feat: add submodule, config, and server_info tools
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/meta_tools.py
  src/mcp_server_git/lean/registry_git.py
Due: mcp-behavior-validation, server-import-check

fix: address code review feedback for submodule/config tools
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/lean/meta_tools.py
  tests/unit/git/test_submodule_config_ops.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add submodule, git config, and server_info tools (#149)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/meta_tools.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_submodule_config_ops.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: register server_info in HTTP transport tools/list and tools/call
  src/mcp_server_git/transport/http_server.py
Due: mcp-behavior-validation, server-import-check

test: add integration tests for server_info and tools/list
  tests/integration/transport/test_http_server.py
Due: mcp-behavior-validation, test-syntax-check

fix: register server_info in HTTP transport tools/list and tools/call (#150)
  src/mcp_server_git/transport/http_server.py
  tests/integration/transport/test_http_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: handle long body text in execute_tool JSON parsing (#151)
  src/mcp_server_git/lean/meta_tools.py
  tests/unit/lean/__init__.py
  tests/unit/lean/test_meta_tools_json_parsing.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: address review feedback - complete C0 control char coverage and remove masked bare-except
  src/mcp_server_git/lean/meta_tools.py
  tests/unit/lean/test_meta_tools_json_parsing.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add git_restore tool for file restoration and unstaging (#152)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_restore.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add git_branch_update tool for force-update and delete (#153)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_branch_update.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add git_worktree_list and git_worktree_remove tools (#154)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_worktree.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add git_merge_tree tool for dry-run conflict detection (#155)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_merge_tree.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add git tools and fix issue bug (#151-#155) (#157)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/meta_tools.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_branch_update.py
  tests/unit/git/test_git_merge_tree.py
  tests/unit/git/test_git_restore.py
  tests/unit/git/test_git_worktree.py
  tests/unit/lean/__init__.py
  tests/unit/lean/test_meta_tools_json_parsing.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add safe git_rm tool with single-file constraint
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_rm.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: add path normalization and unicode tests to git_rm
  src/mcp_server_git/git/operations_extended.py
  tests/unit/git/test_git_rm.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: reject absolute paths in git_rm to prevent system file removal
  src/mcp_server_git/git/operations_extended.py
  tests/unit/git/test_git_rm.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add safe git_rm tool with single-file constraint (#158)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_rm.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: add docstring examples and granular error messages to git_rm
  src/mcp_server_git/git/operations_extended.py
  tests/unit/git/test_git_rm.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(models): add onto, fork_point, branch fields to GitRebase (#159)
  src/mcp_server_git/git/models.py
  tests/unit/git/test_rebase.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

Path conditions:
  mcp-behavior-validation: any of: ^(src/mcp_server_git/|tests/)
  notification-models-check: any of: ^src/mcp_server_git/models/
  server-import-check: any of: ^src/mcp_server_git/
  test-syntax-check: any of: ^tests/.*\.py$
