Repository MementoRC/mcp-git: changes, and which pre-commit hooks are due for each by the changed paths.
All: mcp-behavior-validation, notification-models-check, server-import-check, test-syntax-check

.pre-commit-config.yaml:

# MCP Git Server Pre-commit Configuration
# This ensures code quality and MCP behavior validation before commits

repos:
  # Python code formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.3
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Formatter
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        additional_dependencies: [types-click, types-setuptools, types-requests]
        args: [--ignore-missing-imports, --follow-imports=skip, --no-strict-optional, --disable-error-code=return-value]

  # General code quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: debug-statements
      - id: check-docstring-first

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '--skip', 'B101']

  # Dependency security
  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check

  # MCP-specific validation (custom)
  - repo: local
    hooks:
      - id: mcp-behavior-validation
        name: MCP Behavior Validation
        entry: python scripts/validate_mcp_behavior.py --verbose
        language: python
        files: '^(src/mcp_server_git/|tests/)'
        pass_filenames: false
        additional_dependencies: []

      - id: notification-models-check
        name: Notification Models Check
        entry: python -c "from mcp_server_git.models.notifications import ClientNotification; print('✅ Notification models OK')"
        language: python
        files: '^src/mcp_server_git/models/'
        pass_filenames: false

      - id: server-import-check
        name: Server Import Check
        entry: python -c "import mcp_server_git.server; print('✅ Server imports OK')"
        language: python
        files: '^src/mcp_server_git/'
        pass_filenames: false

      - id: test-syntax-check
        name: Test Files Syntax Check
        entry: python -m py_compile
        language: python
        files: '^tests/.*\.py$'

  # Git commit message formatting
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict, --types=feat,fix,docs,style,refactor,test,chore,ci]

# CI configuration for pre-commit.ci
ci:
  autofix_commit_msg: |
    style: auto fixes from pre-commit hooks

    [skip ci]
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: 'chore: update pre-commit hooks'
  autoupdate_schedule: weekly
  skip: [mypy, mcp-behavior-validation]  # Skip heavy checks in CI

feat(github): add github_get_pr_diff for PR unified diffs (#211) (#212)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/diff_sections.py
  src/mcp_server_git/github/job_log_selection.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/github/pr_diff.py
  src/mcp_server_git/lean/registry_github.py
  tests/unit/github/test_github_pr_diff.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): narrow resolved_labels on the value, not the error (#210)
  src/mcp_server_git/git/merge_ops.py
Due: mcp-behavior-validation, server-import-check

feat(git): return the merged tree OID and add git_merge_file (#210) (#213)
  src/mcp_server_git/git/merge_ops.py
  src/mcp_server_git/git/merge_parse.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/github/job_log_selection.py
  src/mcp_server_git/lean/registry_git.py
  src/mcp_server_git/text_limits.py
  tests/unit/git/test_git_merge_file.py
  tests/unit/git/test_git_merge_tree.py
  tests/unit/git/test_merge_parse.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(lean): exempt git_merge_file's path from the absolute-path guard (#214)
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_merge_file_relative_path.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): stop leaking GitPython's stderr envelope from six handlers (#215)
  src/mcp_server_git/git/operations_extended.py
  tests/unit/git/test_operations_extended_error_cleaning.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): report what git_add actually staged, not what the pathspec looked like (#218)
  src/mcp_server_git/git/_staging_ops.py
  src/mcp_server_git/git/models.py
  tests/unit/git/test_git_add_pathspec.py
  tests/unit/git/test_git_operations.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): report what git_add actually staged, not what the pathspec looked like (#218) (#220)
  src/mcp_server_git/git/_staging_ops.py
  src/mcp_server_git/git/models.py
  tests/unit/git/test_git_add_pathspec.py
  tests/unit/git/test_git_operations.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): surface the bare git message from all 47 remaining error handlers (#219)
  src/mcp_server_git/git/_branch_ops.py
  src/mcp_server_git/git/_commit_ops.py
  src/mcp_server_git/git/_config_ops.py
  src/mcp_server_git/git/_diff_ops.py
  src/mcp_server_git/git/_rebase_ops.py
  src/mcp_server_git/git/_remote_ops.py
  src/mcp_server_git/git/_staging_ops.py
  src/mcp_server_git/git/_submodule_ops.py
  src/mcp_server_git/git/_tag_ops.py
  src/mcp_server_git/git/error_text.py
  src/mcp_server_git/git/operations_extended.py
  tests/unit/git/test_git_error_rendering_bare_message.py
  tests/unit/git/test_git_operations.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): surface the bare git message from all 47 remaining error handlers (#219) (#221)
  src/mcp_server_git/git/_branch_ops.py
  src/mcp_server_git/git/_commit_ops.py
  src/mcp_server_git/git/_config_ops.py
  src/mcp_server_git/git/_diff_ops.py
  src/mcp_server_git/git/_rebase_ops.py
  src/mcp_server_git/git/_remote_ops.py
  src/mcp_server_git/git/_staging_ops.py
  src/mcp_server_git/git/_submodule_ops.py
  src/mcp_server_git/git/_tag_ops.py
  src/mcp_server_git/git/error_text.py
  src/mcp_server_git/git/operations_extended.py
  tests/unit/git/test_git_error_rendering_bare_message.py
  tests/unit/git/test_git_operations.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): make git_add's staging modes report the delta, and expose them (#222)
  README.md
  src/mcp_server_git/git/_staging_ops.py
  src/mcp_server_git/git/models.py
  tests/unit/git/test_git_add_modes.py
  tests/unit/git/test_git_operations.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): make git_add's staging modes report the delta, and expose them (#222) (#223)
  README.md
  src/mcp_server_git/git/_staging_ops.py
  src/mcp_server_git/git/models.py
  tests/unit/git/test_git_add_modes.py
  tests/unit/git/test_git_operations.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

test(git): make the error-rendering guard enumerate, and drive it from a real repo
  tests/unit/git/_error_rendering_ast.py
  tests/unit/git/conftest.py
  tests/unit/git/test_git_error_rendering_bare_message.py
  tests/unit/git/test_git_error_rendering_convention.py
Due: mcp-behavior-validation, test-syntax-check

test(git): match the version-stable core of git's message, not its wording
  tests/unit/git/test_git_error_rendering_bare_message.py
  tests/unit/git/test_git_error_rendering_convention.py
Due: mcp-behavior-validation, test-syntax-check

test(git): make the error-rendering guard enumerate, and drive it from a real repo (#224)
  tests/unit/git/_error_rendering_ast.py
  tests/unit/git/conftest.py
  tests/unit/git/test_git_error_rendering_bare_message.py
  tests/unit/git/test_git_error_rendering_convention.py
Due: mcp-behavior-validation, test-syntax-check

test(git): drop the last mock from the error-rendering guard
  tests/unit/git/test_git_error_rendering_bare_message.py
Due: mcp-behavior-validation, test-syntax-check

test(git): drop the last mock from the error-rendering guard (#226)
  tests/unit/git/test_git_error_rendering_bare_message.py
Due: mcp-behavior-validation, test-syntax-check

feat(git): register tag tools, add signed/annotated tag support (#228)
  src/mcp_server_git/git/_commit_ops.py
  src/mcp_server_git/git/_gpg.py
  src/mcp_server_git/git/_ref_validation.py
  src/mcp_server_git/git/_tag_ops.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_tag_create.py
  tests/unit/git/test_git_tag_delete.py
  tests/unit/git/test_git_tag_list.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(git): register tag tools, add signed/annotated tag support (#228) (#230)
  src/mcp_server_git/git/_commit_ops.py
  src/mcp_server_git/git/_gpg.py
  src/mcp_server_git/git/_ref_validation.py
  src/mcp_server_git/git/_tag_ops.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations_extended.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_tag_create.py
  tests/unit/git/test_git_tag_delete.py
  tests/unit/git/test_git_tag_list.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(git): add pickaxe content search to git_log, name valid params on kwarg errors (#227)
  src/mcp_server_git/git/_commit_ops.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/lean/_error_hints.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/meta_tools.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_log.py
  tests/unit/lean/test_meta_tools_errors.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(git): add pickaxe content search to git_log, name valid params on kwarg errors (#227) (#231)
  src/mcp_server_git/git/_commit_ops.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/lean/_error_hints.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/meta_tools.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_log.py
  tests/unit/lean/test_meta_tools_errors.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(azure): map check runs to build logs, name jobs in the index, add grep/output_path (#229)
  src/mcp_server_git/azure/__init__.py
  src/mcp_server_git/azure/api.py
  src/mcp_server_git/azure/check_run_logs.py
  src/mcp_server_git/azure/log_rendering.py
  src/mcp_server_git/azure/models.py
  src/mcp_server_git/github/ci_logs.py
  src/mcp_server_git/lean/registry_azure.py
  tests/unit/azure/test_azure_api.py
  tests/unit/azure/test_azure_check_run_logs.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(lean): share one response envelope between the MCP and HTTP paths (#232)
  src/mcp_server_git/lean/_envelope.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/meta_tools.py
  tests/unit/lean/test_github_content_relative_path.py
  tests/unit/lean/test_meta_tools_errors.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(azure): map check runs to build logs, name jobs in the index, add grep/output_path (#229) (#233)
  src/mcp_server_git/azure/__init__.py
  src/mcp_server_git/azure/api.py
  src/mcp_server_git/azure/check_run_logs.py
  src/mcp_server_git/azure/log_rendering.py
  src/mcp_server_git/azure/models.py
  src/mcp_server_git/github/ci_logs.py
  src/mcp_server_git/lean/registry_azure.py
  tests/unit/azure/test_azure_api.py
  tests/unit/azure/test_azure_check_run_logs.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(lean): share one response envelope between the MCP and HTTP paths (#232) (#234)
  src/mcp_server_git/lean/_envelope.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/meta_tools.py
  tests/unit/lean/test_github_content_relative_path.py
  tests/unit/lean/test_meta_tools_errors.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(lean): say what is wrong with a bad repo_path, not just echo it
  src/mcp_server_git/lean/registry_git.py
  tests/unit/lean/test_repo_path_errors.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(lean): say what is wrong with a bad repo_path, not just echo it (#235)
  src/mcp_server_git/lean/registry_git.py
  tests/unit/lean/test_repo_path_errors.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): apply force flags on the push refspec path, and stop advising flags already set (#237)
  src/mcp_server_git/git/_remote_ops.py
  src/mcp_server_git/git/models.py
  tests/unit/git/test_git_push_refspec_force.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(github): distinguish a merged PR from an abandoned one (#239)
  src/mcp_server_git/github/pr.py
  tests/unit/github/test_github_pr_merged_state.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): apply force flags on the push refspec path, and stop advising flags already set (#237) (#240)
  src/mcp_server_git/git/_remote_ops.py
  src/mcp_server_git/git/models.py
  tests/unit/git/test_git_push_refspec_force.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(github): distinguish a merged PR from an abandoned one (#239) (#241)
  src/mcp_server_git/github/pr.py
  tests/unit/github/test_github_pr_merged_state.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(git): record a file's executable bit in the index, and let it be read back (#236)
  src/mcp_server_git/git/__init__.py
  src/mcp_server_git/git/_staging_ops.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_update_index.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(github): let a draft PR be taken out of draft, so it can be merged (#238)
  src/mcp_server_git/github/client.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/github/pr_actions.py
  src/mcp_server_git/lean/registry_github.py
  tests/unit/github/test_github_client_graphql.py
  tests/unit/github/test_github_pr_draft.py
  tests/unit/lean/test_registry_github_pr_schema.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(git): record a file's executable bit in the index, and let it be read back (#236) (#242)
  src/mcp_server_git/git/__init__.py
  src/mcp_server_git/git/_staging_ops.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/lean/registry_git.py
  tests/unit/git/test_git_update_index.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(github): let a draft PR be taken out of draft, so it can be merged (#238) (#243)
  src/mcp_server_git/github/client.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/github/pr_actions.py
  src/mcp_server_git/lean/registry_github.py
  tests/unit/github/test_github_client_graphql.py
  tests/unit/github/test_github_pr_draft.py
  tests/unit/lean/test_registry_github_pr_schema.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

refactor(lean): derive every registry schema from its model, and guard it (#244)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/lean/registry_git.py
  src/mcp_server_git/lean/registry_github.py
  tests/unit/lean/test_registry_schema_contract.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

refactor(lean): derive every registry schema from its model, and guard it (#244) (#245)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/lean/registry_git.py
  src/mcp_server_git/lean/registry_github.py
  tests/unit/lean/test_registry_schema_contract.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(scripts): record check_file_size.py executable in the index
  scripts/check_file_size.py
Due: none

fix(scripts): record check_file_size.py executable in the index (#247)
  scripts/check_file_size.py
Due: none
