Repository MementoRC/mcp-git: changes, and which pre-commit hooks are due for each by the changed paths.
All: mcp-behavior-validation, notification-models-check, server-import-check, test-syntax-check

mcp-behavior-validation:
  name: MCP Behavior Validation
  entry: python scripts/validate_mcp_behavior.py --verbose
  language: python
  pass_filenames: false
  additional_dependencies: []

notification-models-check:
  name: Notification Models Check
  entry: python -c "from mcp_server_git.models.notifications import ClientNotification; print('✅ Notification models OK')"
  language: python
  pass_filenames: false

server-import-check:
  name: Server Import Check
  entry: python -c "import mcp_server_git.server; print('✅ Server imports OK')"
  language: python
  pass_filenames: false

test-syntax-check:
  name: Test Files Syntax Check
  entry: python -m py_compile
  language: python

fix: add missing fastmcp dependency for lean interface
  pyproject.toml
Due: none

chore: update pixi.lock with fastmcp dependency resolution
  pixi.lock
Due: none

feat: Address PR#96 review feedback - security, performance, and testing improvements
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/token_limiter.py
  src/mcp_server_git/lean/tool_registry.py
  tests/lean/test_token_limiter.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

refactor: Complete lambda replacement with service wrappers - all 57 tools
  .gitignore
  src/mcp_server_git/lean/tool_registry.py
  tests/lean/test_integration.py
  tests/lean/test_token_limiter.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(tests): resolve test failures in lean module for PR #96
  pyproject.toml
  tests/lean/test_integration.py
  tests/lean/test_interface.py
  tests/lean/test_token_limiter.py
Due: mcp-behavior-validation, test-syntax-check

chore(tests): clean up unused imports and variables in lean module tests
  tests/lean/test_integration.py
  tests/lean/test_interface.py
  tests/lean/test_token_limiter.py
Due: mcp-behavior-validation, test-syntax-check

fix: add pixi tasks for lean MCP interface
  pyproject.toml
Due: none

fix: use NullAzureService by default in lean interface
  src/mcp_server_git/lean/__main__.py
Due: mcp-behavior-validation, server-import-check

fix: remove unused AzureClient import causing lint failure
  src/mcp_server_git/lean/__main__.py
Due: mcp-behavior-validation, server-import-check

test: add test for lean interface main() initialization without Azure config
  tests/lean/test_main.py
Due: mcp-behavior-validation, test-syntax-check

fix: Correct tool count from 57 to 52 in lean interface docs
  src/mcp_server_git/lean/__main__.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/tool_registry.py
  tests/lean/test_main.py
  tests/test_e2e_server.py
  tests/test_environment_loading.py
  tests/test_llm_compliant_server_e2e.py
  tests/test_server.py
  tests/unit/applications/test_server_application_token_middleware_integration.py
  tests/unit/applications/test_server_tool_integration.py
  tests/unit/azure/test_azure_api.py
  tests/unit/azure/test_azure_client.py
  tests/unit/frameworks/test_server_core.py
  tests/unit/git/test_git_diff_validation.py
  tests/unit/git/test_git_init.py
  tests/unit/git/test_git_log.py
  tests/unit/git/test_git_operations.py
  tests/unit/github/test_github_await_workflow.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: Correct tool count to 51 (25 git + 22 github + 4 azure)
  src/mcp_server_git/lean/__main__.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/tool_registry.py
  tests/lean/test_main.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

refactor: Make domain counts dynamic in discover_tools response
  src/mcp_server_git/lean/interface.py
Due: mcp-behavior-validation, server-import-check

fix(lean): use git operations directly instead of service methods
  src/mcp_server_git/lean/tool_registry.py
  tests/lean/test_integration.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

docs: add lean MCP interface documentation to README
  README.md
Due: none

(fix) Add lupa
  pixi.lock
  pyproject.toml
Due: none

fix(lean): add CLI argument parsing for --repository and --verbose
  src/mcp_server_git/lean/__main__.py
Due: mcp-behavior-validation, server-import-check

fix(lean): use logging.WARNING and add repository validation
  src/mcp_server_git/lean/__main__.py
  tests/lean/test_main.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(lean): await async tool implementations in execute_tool
  src/mcp_server_git/lean/interface.py
  tests/lean/test_interface.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(lean): address code review feedback for async handling
  src/mcp_server_git/lean/interface.py
  tests/lean/test_interface.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(git): use subprocess for git_continue to avoid MCP client timeouts
  src/mcp_server_git/git/operations.py
  tests/unit/git/test_git_continue.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(types): resolve all pyright type errors and remove CI bypass
  .github/workflows/ci.yml
  src/mcp_server_git/applications/server_application.py
  src/mcp_server_git/config/token_limits.py
  src/mcp_server_git/core/enhanced_error_handling.py
  src/mcp_server_git/debugging/performance_profiler.py
  src/mcp_server_git/frameworks/mcp_server_framework.py
  src/mcp_server_git/frameworks/server_configuration.py
  src/mcp_server_git/frameworks/server_github.py
  src/mcp_server_git/frameworks/server_middleware.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/github/api.py
  src/mcp_server_git/repository_binding.py
  src/mcp_server_git/repository_binding_tools.py
  src/mcp_server_git/services/github_service.py
  src/mcp_server_git/services/server_metrics.py
Due: mcp-behavior-validation, server-import-check

style: apply ruff formatting to 11 files
  src/mcp_server_git/applications/server_application.py
  src/mcp_server_git/azure/api.py
  src/mcp_server_git/config/token_limits.py
  src/mcp_server_git/debugging/performance_profiler.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/repository_binding.py
  tests/lean/test_main.py
  tests/unit/applications/test_repo_path_resolution.py
  tests/unit/azure/test_azure_api.py
  tests/unit/git/test_git_continue.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: reject relative paths in repo_path to prevent CWD confusion
  src/mcp_server_git/lean/interface.py
  tests/lean/test_interface.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(quality): resolve lint/format issues for PR #117
  tests/lean/test_interface.py
Due: mcp-behavior-validation, test-syntax-check

fix(ci): add missing pyright dependency to quality environment
  pyproject.toml
Due: none

chore: update pixi.lock with pyright dependency
  pixi.lock
Due: none

fix(types): resolve pyright type errors
  pixi.lock
  pyproject.toml
  pyrightconfig.json
Due: none

feat: complete comprehensive development priming for GitHub Release Management
  SESSION_FINALIZATION_METADATA.json
  src/mcp_server_git/repository_binding.py
Due: mcp-behavior-validation, server-import-check

style: comprehensive quality fixes (lint violations + formatting)
  pyproject.toml
  src/mcp_server_git/applications/server_application.py
  src/mcp_server_git/protected_git_operations.py
  src/mcp_server_git/types/__init__.py
  src/mcp_server_git/types/composite_types.py
  src/mcp_server_git/types/git_types.py
  src/mcp_server_git/types/github_types.py
  src/mcp_server_git/types/mcp_types.py
  src/mcp_server_git/types/validation_types.py
  src/mcp_server_git/utils/content_optimization.py
  src/mcp_server_git/utils/token_management.py
  tests/fixtures/large_test_data.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: resolve async/sync mismatch and missing get_binding_info method
  src/mcp_server_git/repository_binding.py
Due: mcp-behavior-validation, server-import-check

.
  src/mcp_server_git/repository_binding.py
Due: mcp-behavior-validation, server-import-check

fix(ci): resolve critical CI failures - lint violations and test timeouts
  pyproject.toml
  src/mcp_server_git/frameworks/server_core.py
  src/mcp_server_git/protected_git_operations.py
  src/mcp_server_git/repository_binding.py
Due: mcp-behavior-validation, server-import-check

fix(tests): resolve mock import paths - Fix Repo and git operations import paths - Resolves AttributeError in repository path resolution tests - All 20 tests now passing
  tests/unit/applications/test_repository_path_resolution.py
Due: mcp-behavior-validation, test-syntax-check

fix(ci): add missing CI environment configuration for PR #74
  pixi.lock
  pyproject.toml
Due: none

fix: resolve pyproject.toml duplicate sections after rebase
  pyproject.toml
Due: none

chore: regenerate pixi.lock for CI compatibility
  pixi.lock
Due: none

fix(ci): resolve quality and test failures for PR #74
  src/mcp_server_git/frameworks/server_core.py
  src/mcp_server_git/types/__init__.py
  tests/benchmarks/test_performance.py
  tests/integration/test_github_api_integration.py
  tests/stress/test_concurrent.py
  tests/stress/test_error_injection.py
  tests/stress/test_long_running.py
  tests/stress/test_memory_leaks.py
  tests/test_e2e_server.py
  tests/test_llm_compliant_server_e2e.py
  tests/test_token_management.py
  tests/unit/applications/test_repository_path_resolution.py
  tests/unit/core/test_enhanced_error_handling.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(ci): resolve pyright type errors and add psutil to CI deps
  pyproject.toml
  pyrightconfig.json
  src/mcp_server_git/config/token_limits.py
  src/mcp_server_git/debugging/performance_profiler.py
  src/mcp_server_git/frameworks/server_core.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/protected_git_operations.py
Due: mcp-behavior-validation, server-import-check

Path conditions:
  mcp-behavior-validation: any of: ^(src/mcp_server_git/|tests/)
  notification-models-check: any of: ^src/mcp_server_git/models/
  server-import-check: any of: ^src/mcp_server_git/
  test-syntax-check: any of: ^tests/.*\.py$
