Repository MementoRC/mcp-git: changes, and which pre-commit hooks are due for each by the changed paths.
All: mcp-behavior-validation, notification-models-check, server-import-check, test-syntax-check

.pre-commit-config.yaml:

# MCP Git Server Pre-commit Configuration
# This ensures code quality and MCP behavior validation before commits

repos:
  # Python code formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.3
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Formatter
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        additional_dependencies: [types-click, types-setuptools, types-requests]
        args: [--ignore-missing-imports, --follow-imports=skip, --no-strict-optional, --disable-error-code=return-value]

  # General code quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: debug-statements
      - id: check-docstring-first

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '--skip', 'B101']

  # Dependency security
  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check

  # MCP-specific validation (custom)
  - repo: local
    hooks:
      - id: mcp-behavior-validation
        name: MCP Behavior Validation
        entry: python scripts/validate_mcp_behavior.py --verbose
        language: python
        files: '^(src/mcp_server_git/|tests/)'
        pass_filenames: false
        additional_dependencies: []

      - id: notification-models-check
        name: Notification Models Check
        entry: python -c "from mcp_server_git.models.notifications import ClientNotification; print('✅ Notification models OK')"
        language: python
        files: '^src/mcp_server_git/models/'
        pass_filenames: false

      - id: server-import-check
        name: Server Import Check
        entry: python -c "import mcp_server_git.server; print('✅ Server imports OK')"
        language: python
        files: '^src/mcp_server_git/'
        pass_filenames: false

      - id: test-syntax-check
        name: Test Files Syntax Check
        entry: python -m py_compile
        language: python
        files: '^tests/.*\.py$'

  # Git commit message formatting
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict, --types=feat,fix,docs,style,refactor,test,chore,ci]

# CI configuration for pre-commit.ci
ci:
  autofix_commit_msg: |
    style: auto fixes from pre-commit hooks

    [skip ci]
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: 'chore: update pre-commit hooks'
  autoupdate_schedule: weekly
  skip: [mypy, mcp-behavior-validation]  # Skip heavy checks in CI

style: apply ruff formatting
  src/mcp_server_git/git/models.py
  tests/test_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

ci: migrate to ci-framework reusable workflow
  .github/workflows/ci.yml
Due: none

ci: migrate to ci-framework reusable workflow (#135)
  .github/workflows/ci.yml
Due: none

fix: add json.loads() coercion for string parameters in lean interface
  src/mcp_server_git/lean/interface.py
Due: mcp-behavior-validation, server-import-check

fix(ci): remove invalid enable-release input from reusable workflow call
  .github/workflows/ci.yml
Due: none

style: auto-fix pre-existing ruff violations (I001, UP007, B904)
  src/mcp_server_git/http_lean_server.py
  src/mcp_server_git/transport/http_server.py
  src/mcp_server_git/transport/security.py
  tests/test_server.py
  tests/unit/transport/test_security.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix(ci): exclude e2e server tests that hang in CI
  .github/workflows/ci.yml
  pyproject.toml
Due: none

fix(ci): add missing ci_skip markers and git identity for test fixture
  pyproject.toml
  tests/stress/test_concurrent.py
  tests/stress/test_error_injection.py
  tests/stress/test_memory_leaks.py
  tests/test_server.py
Due: mcp-behavior-validation, test-syntax-check

fix(ci): add quality-ci as named pixi environment
  pyproject.toml
Due: none

fix: regenerate pixi.lock with quality-ci environment
  pixi.lock
Due: none

fix(ci): add python-build to quality-ci environment
  pixi.lock
  pyproject.toml
Due: none

ci: re-trigger CI after enabling dependency graph on repo
  pyproject.toml
Due: none

fix: add json.loads() coercion for string parameters in lean interface (#134)
  .github/workflows/ci.yml
  pixi.lock
  pyproject.toml
  src/mcp_server_git/http_lean_server.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/transport/http_server.py
  src/mcp_server_git/transport/security.py
  tests/stress/test_concurrent.py
  tests/stress/test_error_injection.py
  tests/stress/test_memory_leaks.py
  tests/test_server.py
  tests/unit/transport/test_security.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add would_truncate() to MCPTokenLimiter
  src/mcp_server_git/lean/token_limiter.py
  tests/lean/test_token_limiter.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add ResponseOffloader with file writing and TTL cleanup
  src/mcp_server_git/lean/response_offloader.py
  tests/lean/test_response_offloader.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add per-tool smart summary generators for offloaded responses
  src/mcp_server_git/lean/response_offloader.py
  tests/lean/test_response_offloader.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: integrate ResponseOffloader into _wrap_tool()
  src/mcp_server_git/lean/interface.py
Due: mcp-behavior-validation, server-import-check

test: add end-to-end tests for response offloading via _wrap_tool()
  tests/lean/test_response_offloader.py
Due: mcp-behavior-validation, test-syntax-check

style: fix lint/format issues in response offloader
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/response_offloader.py
  src/mcp_server_git/lean/token_limiter.py
  tests/lean/test_response_offloader.py
  tests/test_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: update integration test for response offloading shape
  tests/lean/test_integration.py
Due: mcp-behavior-validation, test-syntax-check

fix: address code review - restrictive file permissions, single-pass diff summary, specific exceptions
  src/mcp_server_git/lean/response_offloader.py
Due: mcp-behavior-validation, server-import-check

feat: file-based response offloading for large tool outputs (#136)
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/response_offloader.py
  src/mcp_server_git/lean/token_limiter.py
  tests/lean/test_integration.py
  tests/lean/test_response_offloader.py
  tests/lean/test_token_limiter.py
  tests/test_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add PR review comment retrieval and reply tools (#137)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/lean/tool_registry.py
Due: mcp-behavior-validation, server-import-check

fix: address code review - input validation, null safety, pagination
  src/mcp_server_git/github/api.py
Due: mcp-behavior-validation, server-import-check

feat: add PR review comment retrieval and reply tools (#138)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/lean/tool_registry.py
Due: mcp-behavior-validation, server-import-check

refactor: add github_client_context to client.py for domain module sharing
  src/mcp_server_git/github/client.py
Due: mcp-behavior-validation, server-import-check

refactor: extract PR functions to github/pr.py (#139)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/patches.py
  src/mcp_server_git/github/pr.py
Due: mcp-behavior-validation, server-import-check

refactor: extract Issue functions to github/issues.py (#139)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/issues.py
Due: mcp-behavior-validation, server-import-check

refactor: extract Workflow functions to github/workflows.py (#139)
  src/mcp_server_git/github/workflows.py
Due: mcp-behavior-validation, server-import-check

refactor: extract Repo functions to github/repos.py (#139)
  src/mcp_server_git/github/repos.py
Due: mcp-behavior-validation, server-import-check

refactor: extract Security functions to github/security.py (#139)
  src/mcp_server_git/github/security.py
Due: mcp-behavior-validation, server-import-check

refactor: extract Release functions to github/releases.py (#139)
  src/mcp_server_git/github/releases.py
Due: mcp-behavior-validation, server-import-check

refactor: update api.py to re-export all domain modules (#139)
  src/mcp_server_git/github/api.py
Due: mcp-behavior-validation, server-import-check

refactor: verify and fix imports after github/api.py decomposition (#139)
  src/mcp_server_git/github/__init__.py
Due: mcp-behavior-validation, server-import-check

fix(tests): update mock patch targets for github domain module decomposition (#139)
  tests/unit/github/test_github_actions_config.py
  tests/unit/github/test_github_await_workflow.py
  tests/unit/github/test_github_branch_protection.py
  tests/unit/github/test_github_create_repo.py
  tests/unit/github/test_github_get_issue.py
  tests/unit/github/test_github_job_logs.py
  tests/unit/github/test_github_releases.py
  tests/unit/github/test_github_repo_settings.py
  tests/unit/github/test_github_security.py
Due: mcp-behavior-validation, test-syntax-check

refactor: decompose github/api.py into domain modules (#139) (#142)
  src/mcp_server_git/github/__init__.py
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/client.py
  src/mcp_server_git/github/issues.py
  src/mcp_server_git/github/patches.py
  src/mcp_server_git/github/pr.py
  src/mcp_server_git/github/releases.py
  src/mcp_server_git/github/repos.py
  src/mcp_server_git/github/security.py
  src/mcp_server_git/github/workflows.py
  tests/unit/github/test_github_actions_config.py
  tests/unit/github/test_github_await_workflow.py
  tests/unit/github/test_github_branch_protection.py
  tests/unit/github/test_github_create_repo.py
  tests/unit/github/test_github_get_issue.py
  tests/unit/github/test_github_job_logs.py
  tests/unit/github/test_github_releases.py
  tests/unit/github/test_github_repo_settings.py
  tests/unit/github/test_github_security.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

refactor: split pr.py into query (pr.py) and action (pr_actions.py) modules (#140)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/pr.py
  src/mcp_server_git/github/pr_actions.py
Due: mcp-behavior-validation, server-import-check

refactor: split pr.py into query (pr.py) and action (pr_actions.py) modules (#140) (#143)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/pr.py
  src/mcp_server_git/github/pr_actions.py
Due: mcp-behavior-validation, server-import-check

refactor: split tool_registry.py into domain-specific registry modules (#140)
  src/mcp_server_git/lean/registry_azure.py
  src/mcp_server_git/lean/registry_git.py
  src/mcp_server_git/lean/registry_github.py
  src/mcp_server_git/lean/tool_registry.py
Due: mcp-behavior-validation, server-import-check

refactor: extract permissions/branch-protection to github/permissions.py (#140)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/permissions.py
  src/mcp_server_git/github/repos.py
  tests/unit/github/test_github_actions_config.py
  tests/unit/github/test_github_branch_protection.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check
