Repository MementoRC/mcp-git: changes, and which pre-commit hooks are due for each by the changed paths.
All: mcp-behavior-validation, notification-models-check, server-import-check, test-syntax-check

mcp-behavior-validation:
  name: MCP Behavior Validation
  entry: python scripts/validate_mcp_behavior.py --verbose
  language: python
  pass_filenames: false
  additional_dependencies: []

notification-models-check:
  name: Notification Models Check
  entry: python -c "from mcp_server_git.models.notifications import ClientNotification; print('✅ Notification models OK')"
  language: python
  pass_filenames: false

server-import-check:
  name: Server Import Check
  entry: python -c "import mcp_server_git.server; print('✅ Server imports OK')"
  language: python
  pass_filenames: false

test-syntax-check:
  name: Test Files Syntax Check
  entry: python -m py_compile
  language: python

feat: implement GitHub CLI integration and enhanced git reset functionality
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/github/cli.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: protect essential dev files from git tracking
  .gitignore
Due: none

fix: clean up unused imports and restore server functions
  tests/unit/types/test_composite_types.py
Due: mcp-behavior-validation, test-syntax-check

test scafold
  scripts/test_runner.py
  tests/README.md
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/git_repos.py
  tests/fixtures/github_responses.py
  tests/fixtures/mcp_messages.py
  tests/integration/README.md
  tests/system/README.md
  tests/unit/README.md
  tests/unit/__init__.py
  tests/unit/types/README.md
  tests/unit/types/__init__.py
  tests/unit/types/test_composite_types.py
  tests/unit/types/test_git_types.py
  tests/unit/types/test_github_types.py
  tests/unit/types/test_mcp_types.py
  tests/unit/types/test_validation_types.py
Due: mcp-behavior-validation, test-syntax-check

fix: resolve remaining Ruff linting errors across codebase
  scripts/session_notebook.py
  src/mcp_server_git/protocols/debugging_protocol.py
  src/mcp_server_git/protocols/notification_protocol.py
  src/mcp_server_git/src/mcp_server_git/protocols/metrics_protocol.py
  src/mcp_server_git/src/mcp_server_git/protocols/repository_protocol.py
  tests/fixtures/github_responses.py
  tests/unit/types/test_git_types.py
  tests/unit/types/test_github_types.py
  tests/unit/types/test_mcp_types.py
  tests/unit/types/test_validation_types.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: expand TDD-compatible CI configuration to exclude F401 and F841 errors
  pyproject.toml
Due: none

fix: exclude F821 undefined name errors from CI failures during TDD phase
  pyproject.toml
Due: none

feat: implement intelligent test status tracking system
  .taskmaster/test-status-README.md
  .taskmaster/test-status.json
  scripts/test_status_manager.py
  tests/conftest.py
Due: mcp-behavior-validation, test-syntax-check

chore: add type system implementation files and update dependencies
  src/mcp_server_git/protocols/__init__.py
  src/mcp_server_git/protocols/debugging_protocol.py
  src/mcp_server_git/protocols/metrics_protocol.py
  src/mcp_server_git/protocols/notification_protocol.py
  src/mcp_server_git/protocols/repository_protocol.py
  src/mcp_server_git/src/mcp_server_git/protocols/__init__.py
  src/mcp_server_git/src/mcp_server_git/protocols/debugging_protocol.py
  src/mcp_server_git/src/mcp_server_git/protocols/metrics_protocol.py
  src/mcp_server_git/src/mcp_server_git/protocols/notification_protocol.py
  src/mcp_server_git/src/mcp_server_git/protocols/repository_protocol.py
Due: mcp-behavior-validation, server-import-check

fix: resolve critical CI failures and import errors
  scripts/test_runner.py
  scripts/test_status_manager.py
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

feat: implement comprehensive session notebook system for scientific development logging
  .taskmaster/session-data.json
  .taskmaster/session-notebook-guide.md
  .taskmaster/session-notebook.md
  .taskmaster/uckn-export-20250703_112802.json
  scripts/session_notebook.py
Due: none

test: add bug fix summary for testing
  BUG_FIX_SUMMARY.md
Due: none

refactor: implement surgical TDD CI strategy with file-specific linting rules
  .taskmaster/docs/TDD_CI_STRATEGY.md
  pyproject.toml
Due: none

feat: complete migration from uv to pixi package management
  CHERRY_PICK_LIST.md
  data/sessions.json
Due: none

fix: resolve remaining CI test failures and improve environment handling
  tests/unit/types/test_github_types.py
Due: mcp-behavior-validation, test-syntax-check

chore: update pixi.lock after environment verification
  pixi.lock
Due: none

feat: implement github_create_issue MCP tool
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/core/tools.py
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
  tests/test_e2e_server.py
  tests/test_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: implement github_edit_pr_description, github_list_issues, and github_update_issue MCP tools
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/core/tools.py
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
  tests/test_e2e_server.py
  tests/test_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: handle GitPython import gracefully to resolve CI failures
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: add comprehensive GitPython import protection across all modules
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/git/security.py
  src/mcp_server_git/server_simple.py
Due: mcp-behavior-validation, server-import-check

fix: add missing GITHUB_CREATE_ISSUE to GitTools enum in server.py
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

fix: add remaining missing GitHub tools to GitTools enum
  src/mcp_server_git/server.py
Due: mcp-behavior-validation, server-import-check

test: add PR description editing test file
  test_pr_editing.md
Due: none

feat: add comprehensive MCP workflow validation test
  docs/MCP_WORKFLOW_TEST.md
Due: none

feat: add enhanced validation
  tests/test_enhanced_validation.py
Due: mcp-behavior-validation, test-syntax-check

feat: implement git stash operations for MCP tools
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/core/tools.py
  src/mcp_server_git/git/models.py
Due: mcp-behavior-validation, server-import-check

fix: apply ruff formatting to handlers.py
  src/mcp_server_git/core/handlers.py
Due: mcp-behavior-validation, server-import-check

feat: implement git status filtering for issue #28
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/server.py
  src/mcp_server_git/server_modular.py
  tests/test_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: update gitignore for TaskMaster integration
  .gitignore
Due: none

fix: configure pixi test tasks with CLAUDECODE=0 to disable git redirector
  pyproject.toml
Due: none

fix: update GitHub CI workflow to use pixi tasks with CLAUDECODE=0
  .github/workflows/ci.yml
  pyproject.toml
Due: none

fix: remove CLAUDECODE from CI and restructure pixi quality task
  .github/workflows/ci.yml
  pyproject.toml
Due: none

fix: update pixi.lock after pyproject.toml task modifications
  pixi.lock
Due: none

fix: handle GitPython imports in Claude Code environment
  tests/test_mcp_verification_e2e.py
  tests/test_server.py
Due: mcp-behavior-validation, test-syntax-check

fix: resolve E402 lint error - move imports to top of file
  tests/test_mcp_verification_e2e.py
Due: mcp-behavior-validation, test-syntax-check

fix: correct git status filtering logic for staged vs untracked files
  src/mcp_server_git/git/operations.py
Due: mcp-behavior-validation, server-import-check

docs: add comprehensive CI fix session report
  .claude/state/ci_complete_fix.json
Due: none

fix: apply ruff code formatting to resolve CI quality check failures
  src/mcp_server_git/git/operations.py
  tests/test_mcp_verification_e2e.py
  tests/test_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

Path conditions:
  mcp-behavior-validation: any of: ^(src/mcp_server_git/|tests/)
  notification-models-check: any of: ^src/mcp_server_git/models/
  server-import-check: any of: ^src/mcp_server_git/
  test-syntax-check: any of: ^tests/.*\.py$
