Repository MementoRC/mcp-git: changes, and which pre-commit hooks are due for each by the changed paths.
All: mcp-behavior-validation, notification-models-check, server-import-check, test-syntax-check

mcp-behavior-validation:
  name: MCP Behavior Validation
  entry: python scripts/validate_mcp_behavior.py --verbose
  language: python
  pass_filenames: false
  additional_dependencies: []

notification-models-check:
  name: Notification Models Check
  entry: python -c "from mcp_server_git.models.notifications import ClientNotification; print('✅ Notification models OK')"
  language: python
  pass_filenames: false

server-import-check:
  name: Server Import Check
  entry: python -c "import mcp_server_git.server; print('✅ Server imports OK')"
  language: python
  pass_filenames: false

test-syntax-check:
  name: Test Files Syntax Check
  entry: python -m py_compile
  language: python

feat(github): add github_get_issue tool to fetch single issue by number
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/lean/tool_registry.py
Due: mcp-behavior-validation, server-import-check

test(github): add comprehensive tests for github_get_issue
  ci_fix_pr74.txt
  ci_fix_workflow_state.json
  enterprise_orchestration_log.json
  minimal_test.py
  pytest-results.xml
  src/mcp_server_git/github/api.py
  tests/unit/github/test_github_get_issue.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: remove unused json import in test_github_get_issue
  tests/unit/github/test_github_get_issue.py
Due: mcp-behavior-validation, test-syntax-check

fix: resolve quality gate failures
  tests/unit/github/test_github_get_issue.py
Due: mcp-behavior-validation, test-syntax-check

chore: remove temporary test/debug files
  ci_fix_pr74.txt
  ci_fix_workflow_state.json
  enterprise_orchestration_log.json
  minimal_test.py
  pytest-results.xml
Due: none

feat: add git_merge_base tool (#84)
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/lean/tool_registry.py
Due: mcp-behavior-validation, server-import-check

fix: add input validation and tests for git_merge_base
  src/mcp_server_git/git/operations.py
  tests/unit/git/test_git_merge_base.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

style: format test file with ruff
  tests/unit/git/test_git_merge_base.py
Due: mcp-behavior-validation, test-syntax-check

feat: add GitHub repository settings management tools (#41)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/lean/tool_registry.py
Due: mcp-behavior-validation, server-import-check

fix: add input validation and improve error handling for repo settings
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
Due: mcp-behavior-validation, server-import-check

test: add comprehensive unit tests for GitHub repo settings tools
  tests/unit/github/test_github_actions_config.py
  tests/unit/github/test_github_branch_protection.py
  tests/unit/github/test_github_repo_settings.py
  tests/unit/github/test_github_security.py
Due: mcp-behavior-validation, test-syntax-check

style: format code with ruff to pass CI quality gate
  src/mcp_server_git/github/api.py
  tests/unit/github/test_github_actions_config.py
  tests/unit/github/test_github_branch_protection.py
  tests/unit/github/test_github_security.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(github): add GitHub Release Management tools (#57)
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/lean/tool_registry.py
  tests/unit/github/test_github_releases.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: correct tool registry header counts (77 total, 47 GitHub)
  src/mcp_server_git/lean/tool_registry.py
Due: mcp-behavior-validation, server-import-check

fix(quality): resolve import sorting and formatting issues
  src/mcp_server_git/applications/server_application.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/lean/__main__.py
  src/mcp_server_git/lean/tool_registry.py
  src/mcp_server_git/repository_binding.py
  tests/lean/test_token_limiter.py
  tests/test_e2e_server.py
  tests/test_environment_loading.py
  tests/test_llm_compliant_server_e2e.py
  tests/unit/applications/test_server_application_token_middleware_integration.py
  tests/unit/applications/test_server_tool_integration.py
  tests/unit/git/test_git_diff_validation.py
  tests/unit/git/test_git_init.py
  tests/unit/github/test_github_releases.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

chore: remove polluting development artifacts
  .claude/state/ci_complete_fix.json
  .claude/state/ci_complete_fix_final.json
  .claude/state/ci_fix_report.md
  .taskmaster/docs/TDD_CI_STRATEGY.md
  .taskmaster/session-data.json
  .taskmaster/session-notebook-guide.md
  .taskmaster/session-notebook.md
  .taskmaster/test-status-README.md
  .taskmaster/test-status.json
  .taskmaster/uckn-export-20250703_112802.json
  large_test_file.py
  test_git_tool.py
Due: none

feat(github): add github_get_job_logs tool for CI debugging (#125)
  src/mcp_server_git/github/__init__.py
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/lean/tool_registry.py
  tests/unit/github/test_github_job_logs.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

refactor(github): address review feedback for github_get_job_logs
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
  tests/unit/github/test_github_job_logs.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat(github): add LLM-friendly defaults for github_get_job_logs
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
  tests/unit/github/test_github_job_logs.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add HTTP transport for shared server instances
  mcp-git-http.service
  pixi.lock
  pyproject.toml
  src/mcp_server_git/http_lean_server.py
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/transport/__init__.py
  src/mcp_server_git/transport/http_server.py
  src/mcp_server_git/transport/http_session_manager.py
  src/mcp_server_git/transport/security.py
  tests/integration/transport/__init__.py
  tests/integration/transport/test_http_server.py
  tests/unit/transport/__init__.py
  tests/unit/transport/test_http_session_manager.py
  tests/unit/transport/test_security.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add auto-session mode for MCP client compatibility
  mcp-git-http.service
  src/mcp_server_git/http_lean_server.py
  src/mcp_server_git/repository_binding.py
  src/mcp_server_git/transport/http_server.py
  src/mcp_server_git/transport/http_session_manager.py
Due: mcp-behavior-validation, server-import-check

fix: implement full MCP protocol in HTTP server
  src/mcp_server_git/transport/http_server.py
Due: mcp-behavior-validation, server-import-check

fix: align HTTP transport with session-intelligence reference pattern
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/transport/http_server.py
  src/mcp_server_git/transport/http_session_manager.py
Due: mcp-behavior-validation, server-import-check

feat: add git stash tools to lean interface
  src/mcp_server_git/lean/tool_registry.py
Due: mcp-behavior-validation, server-import-check

fix: address HTTP server code review feedback
  src/mcp_server_git/transport/http_server.py
  src/mcp_server_git/transport/http_session_manager.py
Due: mcp-behavior-validation, server-import-check

fix: add SessionManager context manager and test cleanup
  src/mcp_server_git/lean/interface.py
  src/mcp_server_git/lean/tool_registry.py
  src/mcp_server_git/session.py
  src/mcp_server_git/transport/http_server.py
  src/mcp_server_git/transport/http_session_manager.py
  src/mcp_server_git/transport/security.py
  tests/integration/conftest.py
  tests/integration/test_protocol_compliance.py
  tests/integration/test_stability.py
  tests/integration/transport/test_http_server.py
  tests/unit/transport/test_http_session_manager.py
  tests/unit/transport/test_security.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: HTTP server JSON-RPC compliance and test fixes
  src/mcp_server_git/transport/http_server.py
  tests/integration/transport/test_http_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

refactor: address code review feedback
  src/mcp_server_git/transport/http_server.py
  src/mcp_server_git/transport/http_session_manager.py
Due: mcp-behavior-validation, server-import-check

refactor: add has_session() for encapsulation
  src/mcp_server_git/transport/http_server.py
  src/mcp_server_git/transport/http_session_manager.py
Due: mcp-behavior-validation, server-import-check

fix: HTTP multi-repo mode and parameter naming consistency
  src/mcp_server_git/applications/server_application.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/transport/http_session_manager.py
  tests/unit/transport/test_http_session_manager.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

fix: add session validation and duplicate session handling
  src/mcp_server_git/transport/http_server.py
  src/mcp_server_git/transport/http_session_manager.py
Due: mcp-behavior-validation, server-import-check

fix: use AliasChoices for consistent parameter naming
  src/mcp_server_git/applications/server_application.py
  src/mcp_server_git/git/models.py
Due: mcp-behavior-validation, server-import-check

style: apply ruff formatting to models.py
  src/mcp_server_git/git/models.py
Due: mcp-behavior-validation, server-import-check

feat: add github_create_repo tool for repository creation
  src/mcp_server_git/github/__init__.py
  src/mcp_server_git/github/api.py
  src/mcp_server_git/github/models.py
  src/mcp_server_git/lean/tool_registry.py
Due: mcp-behavior-validation, server-import-check

feat(validation): add input validation for GitHubCreateRepo
  src/mcp_server_git/github/models.py
Due: mcp-behavior-validation, server-import-check

feat(tests): add unit tests and remove emojis from github_create_repo
  src/mcp_server_git/github/api.py
  tests/unit/github/test_github_create_repo.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

style: fix formatting in api.py
  src/mcp_server_git/github/api.py
Due: mcp-behavior-validation, server-import-check

feat: add --amend support to git_commit
  src/mcp_server_git/core/handlers.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  src/mcp_server_git/server.py
  tests/test_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

feat: add --amend support to git_commit
  src/mcp_server_git/applications/server_application.py
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
  tests/test_server.py
Due: mcp-behavior-validation, server-import-check, test-syntax-check

docs: add amend parameter documentation
  src/mcp_server_git/git/models.py
  src/mcp_server_git/git/operations.py
Due: mcp-behavior-validation, server-import-check

Path conditions:
  mcp-behavior-validation: any of: ^(src/mcp_server_git/|tests/)
  notification-models-check: any of: ^src/mcp_server_git/models/
  server-import-check: any of: ^src/mcp_server_git/
  test-syntax-check: any of: ^tests/.*\.py$
